gen_test
filter.txt
.DS_Store
Subjects.txt
lapack-3.4.1.tgz
plink
plink.*
remove.txt
test3.txt
test3.zip
test_data.bed
test_data.bim
test_data.fam
test_data.tar.gz
*~
d2/
test3/
zlib-1.2.*
*.tmp
*.old
*.o

