wdist
wdist.bed
wdist.bim
wdist.fam
wdist.dist
gen_test
filter.txt
wdist.map
wdist.ped
wdist.snplist
wdist.genome
wdist.frq
.DS_Store
Subjects.txt
lapack-3.4.1.tgz
plink
plink.*
remove.txt
test3.txt
test3.zip
test_data.bed
test_data.bim
test_data.fam
test_data.tar.gz
wdist.asm
wdist.dist*
wdist.grm*
wdist.mdist*
wdist.mibs*
wdist.rel*
*~
d2/
test3/
zlib-1.2.*
wdist_src.zip
wdist_mac_x86_64.zip
*.tmp
wdist.prune.in
wdist.prune.out
*.old
wdist.genome.gz
wdist.ibc
wdist.o
