/**/pgen_compress
/build_dynamic/plink2
/build_san/plink2
/build_san/.build_config
/Python/Pgenlib.egg-info/
/Python/dist/
*.o
*~
plink2_src.zip
zstd/lib/libzstd.pc
zstd/lib/libzstd-nomt
.DS_Store
/test_data/
