include src/pgenlib/pgenlib.pyx
include src/plink2/pgenlib_ffi_support.cc
include src/plink2/pgenlib_ffi_support.h
include src/plink2/pvar_ffi_support.cc
include src/plink2/pvar_ffi_support.h
include src/plink2/include/pgenlib_misc.cc
include src/plink2/include/pgenlib_misc.h
include src/plink2/include/pgenlib_read.cc
include src/plink2/include/pgenlib_read.h
include src/plink2/include/pgenlib_write.cc
include src/plink2/include/pgenlib_write.h
include src/plink2/include/plink2_base.cc
include src/plink2/include/plink2_base.h
include src/plink2/include/plink2_bgzf.cc
include src/plink2/include/plink2_bgzf.h
include src/plink2/include/plink2_bits.cc
include src/plink2/include/plink2_bits.h
include src/plink2/include/plink2_string.cc
include src/plink2/include/plink2_string.h
include src/plink2/include/plink2_text.cc
include src/plink2/include/plink2_text.h
include src/plink2/include/plink2_thread.cc
include src/plink2/include/plink2_thread.h
include src/plink2/include/plink2_zstfile.cc
include src/plink2/include/plink2_zstfile.h
include src/plink2/libdeflate/common_defs.h
include src/plink2/libdeflate/libdeflate.h
include src/plink2/libdeflate/lib/adler32.c
include src/plink2/libdeflate/lib/adler32_vec_template.h
include src/plink2/libdeflate/lib/bt_matchfinder.h
include src/plink2/libdeflate/lib/cpu_features_common.h
include src/plink2/libdeflate/lib/crc32.c
include src/plink2/libdeflate/lib/crc32_multipliers.h
include src/plink2/libdeflate/lib/crc32_table.h
include src/plink2/libdeflate/lib/crc32_tables.h
include src/plink2/libdeflate/lib/crc32_vec_template.h
include src/plink2/libdeflate/lib/decompress_template.h
include src/plink2/libdeflate/lib/deflate_compress.c
include src/plink2/libdeflate/lib/deflate_compress.h
include src/plink2/libdeflate/lib/deflate_constants.h
include src/plink2/libdeflate/lib/deflate_decompress.c
include src/plink2/libdeflate/lib/gzip_compress.c
include src/plink2/libdeflate/lib/gzip_constants.h
include src/plink2/libdeflate/lib/gzip_decompress.c
include src/plink2/libdeflate/lib/hc_matchfinder.h
include src/plink2/libdeflate/lib/ht_matchfinder.h
include src/plink2/libdeflate/lib/lib_common.h
include src/plink2/libdeflate/lib/matchfinder_common.h
include src/plink2/libdeflate/lib/unaligned.h
include src/plink2/libdeflate/lib/utils.c
include src/plink2/libdeflate/lib/zlib_compress.c
include src/plink2/libdeflate/lib/zlib_constants.h
include src/plink2/libdeflate/lib/zlib_decompress.c
include src/plink2/libdeflate/lib/arm/adler32_impl.h
include src/plink2/libdeflate/lib/arm/arm_cpu_features.c
include src/plink2/libdeflate/lib/arm/cpu_features.h
include src/plink2/libdeflate/lib/arm/crc32_impl.h
include src/plink2/libdeflate/lib/arm/crc32_pmull_helpers.h
include src/plink2/libdeflate/lib/arm/crc32_pmull_wide.h
include src/plink2/libdeflate/lib/arm/matchfinder_impl.h
include src/plink2/libdeflate/lib/x86/adler32_impl.h
include src/plink2/libdeflate/lib/x86/cpu_features.h
include src/plink2/libdeflate/lib/x86/crc32_impl.h
include src/plink2/libdeflate/lib/x86/crc32_pclmul_template.h
include src/plink2/libdeflate/lib/x86/decompress_impl.h
include src/plink2/libdeflate/lib/x86/matchfinder_impl.h
include src/plink2/libdeflate/lib/x86/x86_cpu_features.c
include src/plink2/zstd/lib/zdict.h
include src/plink2/zstd/lib/zstd.h
include src/plink2/zstd/lib/zstd_errors.h
include src/plink2/zstd/lib/common/allocations.h
include src/plink2/zstd/lib/common/bits.h
include src/plink2/zstd/lib/common/bitstream.h
include src/plink2/zstd/lib/common/compiler.h
include src/plink2/zstd/lib/common/cpu.h
include src/plink2/zstd/lib/common/debug.c
include src/plink2/zstd/lib/common/debug.h
include src/plink2/zstd/lib/common/entropy_common.c
include src/plink2/zstd/lib/common/error_private.c
include src/plink2/zstd/lib/common/error_private.h
include src/plink2/zstd/lib/common/fse.h
include src/plink2/zstd/lib/common/fse_decompress.c
include src/plink2/zstd/lib/common/huf.h
include src/plink2/zstd/lib/common/mem.h
include src/plink2/zstd/lib/common/pool.c
include src/plink2/zstd/lib/common/pool.h
include src/plink2/zstd/lib/common/portability_macros.h
include src/plink2/zstd/lib/common/threading.c
include src/plink2/zstd/lib/common/threading.h
include src/plink2/zstd/lib/common/xxhash.c
include src/plink2/zstd/lib/common/xxhash.h
include src/plink2/zstd/lib/common/zstd_common.c
include src/plink2/zstd/lib/common/zstd_deps.h
include src/plink2/zstd/lib/common/zstd_internal.h
include src/plink2/zstd/lib/common/zstd_trace.h
include src/plink2/zstd/lib/compress/clevels.h
include src/plink2/zstd/lib/compress/fse_compress.c
include src/plink2/zstd/lib/compress/hist.c
include src/plink2/zstd/lib/compress/hist.h
include src/plink2/zstd/lib/compress/huf_compress.c
include src/plink2/zstd/lib/compress/zstd_compress.c
include src/plink2/zstd/lib/compress/zstd_compress_internal.h
include src/plink2/zstd/lib/compress/zstd_compress_literals.c
include src/plink2/zstd/lib/compress/zstd_compress_literals.h
include src/plink2/zstd/lib/compress/zstd_compress_sequences.c
include src/plink2/zstd/lib/compress/zstd_compress_sequences.h
include src/plink2/zstd/lib/compress/zstd_compress_superblock.c
include src/plink2/zstd/lib/compress/zstd_compress_superblock.h
include src/plink2/zstd/lib/compress/zstd_cwksp.h
include src/plink2/zstd/lib/compress/zstd_double_fast.c
include src/plink2/zstd/lib/compress/zstd_double_fast.h
include src/plink2/zstd/lib/compress/zstd_fast.c
include src/plink2/zstd/lib/compress/zstd_fast.h
include src/plink2/zstd/lib/compress/zstd_lazy.c
include src/plink2/zstd/lib/compress/zstd_lazy.h
include src/plink2/zstd/lib/compress/zstd_ldm.c
include src/plink2/zstd/lib/compress/zstd_ldm.h
include src/plink2/zstd/lib/compress/zstd_ldm_geartab.h
include src/plink2/zstd/lib/compress/zstd_opt.c
include src/plink2/zstd/lib/compress/zstd_opt.h
include src/plink2/zstd/lib/compress/zstdmt_compress.c
include src/plink2/zstd/lib/compress/zstdmt_compress.h
include src/plink2/zstd/lib/decompress/huf_decompress.c
include src/plink2/zstd/lib/decompress/zstd_ddict.c
include src/plink2/zstd/lib/decompress/zstd_ddict.h
include src/plink2/zstd/lib/decompress/zstd_decompress.c
include src/plink2/zstd/lib/decompress/zstd_decompress_block.c
include src/plink2/zstd/lib/decompress/zstd_decompress_block.h
include src/plink2/zstd/lib/decompress/zstd_decompress_internal.h
include src/plink2/simde/check.h
include src/plink2/simde/debug-trap.h
include src/plink2/simde/hedley.h
include src/plink2/simde/simde-align.h
include src/plink2/simde/simde-arch.h
include src/plink2/simde/simde-common.h
include src/plink2/simde/simde-constify.h
include src/plink2/simde/simde-detect-clang.h
include src/plink2/simde/simde-diagnostic.h
include src/plink2/simde/simde/simde-features.h
include src/plink2/simde/simde/simde-math.h
include src/plink2/simde/x86/avx512/cmpeq.h
include src/plink2/simde/x86/avx512/blend.h
include src/plink2/simde/x86/avx512/cmp.h
include src/plink2/simde/x86/avx512/sll.h
include src/plink2/simde/x86/avx512/dpbf16.h
include src/plink2/simde/x86/avx512/mulhrs.h
include src/plink2/simde/x86/avx512/cmplt.h
include src/plink2/simde/x86/avx512/knot.h
include src/plink2/simde/x86/avx512/adds.h
include src/plink2/simde/x86/avx512/add.h
include src/plink2/simde/x86/avx512/setzero.h
include src/plink2/simde/x86/avx512/copysign.h
include src/plink2/simde/x86/avx512/packs.h
include src/plink2/simde/x86/avx512/rol.h
include src/plink2/simde/x86/avx512/xorsign.h
include src/plink2/simde/x86/avx512/compress.h
include src/plink2/simde/x86/avx512/unpackhi.h
include src/plink2/simde/x86/avx512/broadcast.h
include src/plink2/simde/x86/avx512/set4.h
include src/plink2/simde/x86/avx512/kshift.h
include src/plink2/simde/x86/avx512/packus.h
include src/plink2/simde/x86/avx512/sqrt.h
include src/plink2/simde/x86/avx512/multishift.h
include src/plink2/simde/x86/avx512/dbsad.h
include src/plink2/simde/x86/avx512/rorv.h
include src/plink2/simde/x86/avx512/madd.h
include src/plink2/simde/x86/avx512/ternarylogic.h
include src/plink2/simde/x86/avx512/4dpwssd.h
include src/plink2/simde/x86/avx512/permutex2var.h
include src/plink2/simde/x86/avx512/testn.h
include src/plink2/simde/x86/avx512/cmpneq.h
include src/plink2/simde/x86/avx512/insert.h
include src/plink2/simde/x86/avx512/lzcnt.h
include src/plink2/simde/x86/avx512/min.h
include src/plink2/simde/x86/avx512/fmsub.h
include src/plink2/simde/x86/avx512/storeu.h
include src/plink2/simde/x86/avx512/sad.h
include src/plink2/simde/x86/avx512/extract.h
include src/plink2/simde/x86/avx512/abs.h
include src/plink2/simde/x86/avx512/max.h
include src/plink2/simde/x86/avx512/popcnt.h
include src/plink2/simde/x86/avx512/mov_mask.h
include src/plink2/simde/x86/avx512/range_round.h
include src/plink2/simde/x86/avx512/xor.h
include src/plink2/simde/x86/avx512/srai.h
include src/plink2/simde/x86/avx512/andnot.h
include src/plink2/simde/x86/avx512/negate.h
include src/plink2/simde/x86/avx512/fixupimm.h
include src/plink2/simde/x86/avx512/slli.h
include src/plink2/simde/x86/avx512/permutexvar.h
include src/plink2/simde/x86/avx512/mullo.h
include src/plink2/simde/x86/avx512/dpbusds.h
include src/plink2/simde/x86/avx512/cmpge.h
include src/plink2/simde/x86/avx512/cvts.h
include src/plink2/simde/x86/avx512/rolv.h
include src/plink2/simde/x86/avx512/cvt.h
include src/plink2/simde/x86/avx512/bitshuffle.h
include src/plink2/simde/x86/avx512/dpbusd.h
include src/plink2/simde/x86/avx512/div.h
include src/plink2/simde/x86/avx512/types.h
include src/plink2/simde/x86/avx512/maddubs.h
include src/plink2/simde/x86/avx512/srl.h
include src/plink2/simde/x86/avx512/and.h
include src/plink2/simde/x86/avx512/cmple.h
include src/plink2/simde/x86/avx512/kxor.h
include src/plink2/simde/x86/avx512/scalef.h
include src/plink2/simde/x86/avx512/range.h
include src/plink2/simde/x86/avx512/shldv.h
include src/plink2/simde/x86/avx512/loadu.h
include src/plink2/simde/x86/avx512/set.h
include src/plink2/simde/x86/avx512/test.h
include src/plink2/simde/x86/avx512/fmadd.h
include src/plink2/simde/x86/avx512/conflict.h
include src/plink2/simde/x86/avx512/fnmadd.h
include src/plink2/simde/x86/avx512/cast.h
include src/plink2/simde/x86/avx512/mov.h
include src/plink2/simde/x86/avx512/movm.h
include src/plink2/simde/x86/avx512/setr4.h
include src/plink2/simde/x86/avx512/sllv.h
include src/plink2/simde/x86/avx512/round.h
include src/plink2/simde/x86/avx512/cmpgt.h
include src/plink2/simde/x86/avx512/setr.h
include src/plink2/simde/x86/avx512/2intersect.h
include src/plink2/simde/x86/avx512/dpwssd.h
include src/plink2/simde/x86/avx512/avg.h
include src/plink2/simde/x86/avx512/expand.h
include src/plink2/simde/x86/avx512/mul.h
include src/plink2/simde/x86/avx512/fixupimm_round.h
include src/plink2/simde/x86/avx512/roundscale.h
include src/plink2/simde/x86/avx512/ror.h
include src/plink2/simde/x86/avx512/dpwssds.h
include src/plink2/simde/x86/avx512/subs.h
include src/plink2/simde/x86/avx512/mulhi.h
include src/plink2/simde/x86/avx512/srli.h
include src/plink2/simde/x86/avx512/4dpwssds.h
include src/plink2/simde/x86/avx512/flushsubnormal.h
include src/plink2/simde/x86/avx512/store.h
include src/plink2/simde/x86/avx512/srav.h
include src/plink2/simde/x86/avx512/unpacklo.h
include src/plink2/simde/x86/avx512/sub.h
include src/plink2/simde/x86/avx512/setone.h
include src/plink2/simde/x86/avx512/fnmsub.h
include src/plink2/simde/x86/avx512/srlv.h
include src/plink2/simde/x86/avx512/roundscale_round.h
include src/plink2/simde/x86/avx512/load.h
include src/plink2/simde/x86/avx512/or.h
include src/plink2/simde/x86/avx512/sra.h
include src/plink2/simde/x86/avx512/shuffle.h
include src/plink2/simde/x86/avx512/set1.h
include src/plink2/simde/x86/avx512/cvtt.h
include src/plink2/simde/x86/fma.h
include src/plink2/simde/x86/sse3.h
include src/plink2/simde/x86/svml.h
include src/plink2/simde/x86/sse.h
include src/plink2/simde/x86/avx512.h
include src/plink2/simde/x86/sse4.2.h
include src/plink2/simde/x86/sse4.1.h
include src/plink2/simde/x86/avx.h
include src/plink2/simde/x86/clmul.h
include src/plink2/simde/x86/sse2.h
include src/plink2/simde/x86/f16c.h
include src/plink2/simde/x86/mmx.h
include src/plink2/simde/x86/avx2.h
include src/plink2/simde/x86/gfni.h
include src/plink2/simde/x86/ssse3.h
include src/plink2/simde/x86/xop.h
